/*<meta sourceDocument="J:\910907 IFT-DSS Task 7 Documentation and Training\Online_help\Misc Resources\Working Files\IFT_FlamMap_MTT\IFTFlamMap_Inputs.docx" />*/

p
{
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: Arial;
	font-size: 11pt;
	vertical-align: top;
}

