/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: IFTDSS_PatternedRowsCenter;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #293b49;
	text-align: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	background-color: #293b49;
	name: Header1;
	id: 2;
	text-align: center;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	name: DarkerRows;
	id: 1;
	background-color: #f5f5f5;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}


/* Cell Styles: */
 
.TableStyle-IFTDSS_PatternedRowsCenter
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-IFTDSS_PatternedRowsCenter-Column-Regular
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-Column-DarkShade
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-Head-Header1
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadI-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
	text-align: center;
	background-color: #293b49;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadE-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadF-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadH-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadD-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadC-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadB-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadA-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadG-Regular-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadI-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	text-align: center;
	background-color: #293b49;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadE-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadF-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadH-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadD-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadC-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadB-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadA-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #293b49;
}

.TableStyle-IFTDSS_PatternedRowsCenter-HeadG-DarkShade-Header1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-Foot-Footer1
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootI-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootE-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootF-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootH-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootD-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootC-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootB-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootA-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootG-Regular-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-Body-LightRows
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-Regular-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-DarkShade-LightRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-Body-DarkerRows
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #293b49;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	text-align: center;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-Regular-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyI-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyE-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyF-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyH-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyD-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyC-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyB-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyA-DarkShade-DarkerRows p
{
	
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-IFTDSS_PatternedRowsCenter-BodyG-DarkShade-DarkerRows p
{
	
}


