/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	background-image: url('../images/iftdss_helpcenter_3_50p.png');
	margin-top: 27px;
	background-repeat: no-repeat;
	background-color: #E0EAF1;
	color: #404040;
	font-family: Arial, Avenir, Myriad, sans-serif;
	font-size: 12px;
}

a,
a:link,
a:visited
{
	color: #2d82dc;
}

a:hover
{
	color: #e67d27;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #e67d27;
}

div.example
{
	background-color: #f0ff86;
	background-repeat: no-repeat;
	border: solid 1px #a4ac67;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.GlossaryPageDefinition
{
	
}

div.GlossaryPageHeading
{
	
}

div.GlossaryPageTerm
{
	
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

/* Global settings for all notification divs */

[class^=notification]
{
	width: 90%;
	margin: 12px;
	/* Relative positioning on the parent
	notification div allows us to absolutely 
	position the font icons inside the div */
	position: relative;
	padding: 2px 16px;
	/* A little bit of rounded corners */
	border-radius: 8px;
}

/* Global paragraph settings inside
notification divs */

[class^=notification] p
{
	/* Prevent paragraphs from aligning 
	under the icons */
	padding-left: 24px;
	margin: 8px 0;
}

/* Global settings for notification icons */

[class^=notification] > p:first-child:before
{
	font-family: FontAwesome;
	position: absolute;
	left: 12px;
}

/* Color settings for notification divs */

.notificationNote
{
	background-color: #D5EEF8;
	color: #2183A5;
}

.notificationTip
{
	background-color: #DDEFD7;
	color: #308935;
}

.notificationCase
{
	background-color: #DDDDDD;
	color: #2b3139;
}

.notificationImportant
{
	background-color: #F2DEDB;
	color: #992222;
}

.notificationComingSoon
{
	background-color: #fff6b3;
	color: #050403;
}

/* Icon choice for notification divs */

.notificationNote > p:first-child:before
{
	/* "i" in a circle */
	content: "\f05a";
	font-size: 20px;
}

.notificationTip > p:first-child:before
{
	/* Hand pointing right */
	content: "\f0a4";
	font-size: 20px;
}

.notificationComingSoon > p:first-child:before
{
	/* Bull Horn */
	content: "\f0a1";
	font-size: 20px;
}

.notificationImportant > p:first-child:before
{
	/* Exclamation mark in triangle */
	content: "\f071";
	font-size: 20px;
}

.noteInDiv
{
	mc-auto-number-format: '{b}{color #e67d27}Note: {/color}{/b}';
}

.alertcomingsoon
{
	color: black;
	background-color: #afbfd0;
	border: solid 3px #2d3d4f;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	mc-auto-number-format: '{b}More Functionality to Come! {/b}';
}

div.quotation
{
	background-color: #e1e1e1;
	background-image: url('../images/quotationmark_orange.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	padding: 20px;
	padding-left: 40px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

div.TightContent
{
	margin: 0;
	padding: 0;
	line-height: 1em;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
}

h1.Appendix
{
	
}

h1.UserGuideBHeading
{
	
}

h2
{
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 16px;
}

img	/*applies to printed output only*/
{
	
}

img.AbsolutePosition
{
	padding: 5px;
}

img.ReduceButtonSize
{
	max-height: 25px;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../images/dropdownclosed_orange.png');
	mc-open-image: url('../images/dropdownopen_orange.png');
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../images/dropdownclosedsecondlevel_orange.png');
	mc-open-image: url('../images/dropdownopensecondlevel_orange.png');
}

MadCap|dropDownBody
{
	border-bottom: solid 1px #e67d27;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	color: #404040;
	font-size: 1.0em;
	font-weight: bold;
}

MadCap|dropDownHotspot:hover
{
	color: #e67d27;
}

MadCap|footnoteBlock
{
	
}

MadCap|footnotesBlock
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|miniTocProxy
{
	
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|tocProxy
{
	
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #e67d27;
}

MadCap|xref.IndexPageNumber
{
	
}

ol
{
	list-style-image: none;
}

ol ol
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

ol ol ol
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

p
{
	margin-bottom: 8px;
	margin-top: 16px;
}

.comingsoon
{
	color: #8d8d8d;
}

.iftexample
{
	margin-left: 30px;
	font-style: italic;
	background-color: #AFBFD0;
	padding: 10px;
	border-radius: 8px;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Copyright
{
	
}

p.CopyrightAddress
{
	
}

p.CopyrightHeading
{
	
}

p.CreatedUsingFlare
{
	
}

p.EmptyPageText
{
	
}

p.ExampleHeadText
{
	font-weight: bold;
	page-break-after: avoid;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
	border: 0;
}

p.Figure
{
	
}

p.FirstPageOfChapter
{
	
}

p.FrameFooterText
{
	
}

p.FrameFooterText2
{
	
}

p.GlossaryPrintHead
{
	
}

p.IndexHeading
{
	
}

p.IndexPrintHead
{
	
}

p.ManualTitle1
{
	
}

p.ManualTitle2
{
	
}

p.ManualVersionNumber
{
	
}

p.MiniTOC1
{
	
}

p.quotationname
{
	text-align: right;
}

p.TableCaption
{
	
}

p.TableTextCenterDark,
p.TableTextDark,
p.TableTextDarkEmphasis,
p.TableTextHeadDark,
p.TableTextLightEmphasis
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextCenterDark
{
	text-align: center;
}

p.TableTextDarkEmphasis
{
	font-weight: bold;
}

p.TableTextHeadDark
{
	font-weight: bold;
}

p.TableTextLightEmphasis
{
	color: #ffffff;
	font-weight: bold;
}

.comment
{
	color: purple;
}

p.TOCHeading
{
	
}

span.Emphasis
{
	font-weight: bold;
}

span.UIcomponent
{
	font-weight: bold;
}

span.ListBegin
{
	font-weight: bold;
}

span.FigureNum
{
	
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

span.TableNum
{
	
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

tr
{
	
}

ul
{
	
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../images/bullet1.png');
	margin-left: -10px;
}

ul ul
{
	margin-left: -10px;
}

html.templateTopic div.sideContent
{
	display: none;
}

@media print
{
	/*The .off-canvas-content class fixes the grayed out print bug introduced from Chrome 61 */

	.off-canvas-content
	{
		box-shadow: none;
	}

	body
	{
		font-size: 10pt;
		line-height: 16px;
		margin: 8px;
	}

	img
	{
		max-width: 600px;
	}

	img.button
	{
		max-height: 15px;
	}

	div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	div.GlossaryPageHeading
	{
		border-bottom-color: #e67d27;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #e67d27;
		font-size: 11pt;
	}

	div.GlossaryPageTerm
	{
		color: #e67d27;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	div.note
	{
		padding-bottom: 20px;
	}

	h1
	{
		color: #e67d27;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 24pt;
		margin-bottom: 20px;
		margin-left: 0;
		mc-auto-number-class: ChapAutoNum;
		mc-auto-number-format: 'CH:CHAPTER {chapnum} ';
		padding-left: 0;
		padding-top: 0;
	}

	h1.Appendix
	{
		mc-auto-number-format: 'APPENDIX ';
	}

	h1.UserGuideBHeading
	{
		page-break-before: avoid;
	}

	h2
	{
		font-size: 12pt;
		font-weight: normal;
		line-height: 14pt;
		page-break-before: always;
	}

	h3
	{
		font-size: 10pt;
		line-height: 12pt;
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
		line-height: 11pt;
		mc-heading-level: 0;
	}

	MadCap|dropDown.SecondLevel
	{
		background-color: transparent;
		margin-left: 10px;
	}

	MadCap|dropDownBody
	{
		border-bottom: none;
	}

	MadCap|dropDownHead
	{
		margin-top: 16px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 8pt;
	}

	MadCap|footnoteBlock
	{
		font-size: 7pt;
	}

	MadCap|footnotesBlock
	{
		border-top-color: #e67d27;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|indexProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|miniTocProxy
	{
		border-top: 0;
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
	}

	MadCap|xref
	{
		color: #404040;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #e67d27;
	}

	nav.tab-bar,
	div.sideContent
	{
		display: none;
	}

	ol ol
	{
		margin-left: 30px;
	}

	ol ol ol
	{
		margin-left: 30px;
	}

	p
	{
		font-size: 10pt;
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.Figure
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		margin-left: 10px;
		padding-bottom: 10px;
	}

	p.FirstPageOfChapter
	{
		color: #e1e1e1;
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		font-size: 24pt;
	}

	p.FrameFooterText2
	{
		color: #404040;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.GlossaryPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.IndexPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.ManualTitle1
	{
		font-family: 'Century Gothic';
		font-size: 9pt;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 2.00in;
	}

	p.ManualTitle2
	{
		color: #e67d27;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 0;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 0;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-left: 1in;
		margin-top: 12pt;
	}

	p.MiniTOC1
	{
		color: #e1e1e1;
		font-size: 9pt;
		font-weight: normal;
	}

	p.TableCaption
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
	}

	p.TOC1
	{
		color: #e67d27;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 12px;
		mc-leader-format: 'none';
		mc-pagenum-display: none;
		page-break-after: avoid;
	}

	p.TOC2
	{
		color: #e1e1e1;
		font-size: 10pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.25in;
		margin-top: 2px;
	}

	p.TOC3
	{
		color: #e1e1e1;
		font-size: 8pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.35in;
		margin-top: 2px;
	}

	p.TOC4
	{
		color: #e67d27;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-left: 0;
		margin-top: 12px;
	}

	p.TOCHeading
	{
		color: #3e3e3e;
		font-size: 90pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-heading-level: 0;
		text-align: center;
	}

	span.ChapAutoNum
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
	}

	span.FigureNum
	{
		color: #e67d27;
		font-style: normal;
	}

	span.TableNum
	{
		color: #e67d27;
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
	}

	ul
	{
		list-style-image: url('../images/bullet1print.png');
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../images/bullet1print.png');
		margin-left: 30px;
	}

	ul ul
	{
		list-style-image: url('../images/bullet2print.png');
		margin-left: 30px;
	}
}

.sr-only
{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus
{
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

html.FieldLeveltopics
{
	mc-master-page: url('../masterpages/fieldleveltopics.flmsp');
}

img.button	/*will apply only to print*/
{
	
}

p.test
{
	
}

nav.tab-bar
{
	display: none !important;
}

.MCBreadcrumbsBox_0
{
	display: none !important;
}

.sideContent
{
	display: none !important;
}

