.navbar-default {
  width: 100%;
  background-color: white;
  border-color: #f8f8f8;
  //border-color: #ddddaa;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #29370a;
  background-color:  #afbfd0; 
}
.navbar-default .navbar-text {
  color: #29370a;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #29370a;
  background-color:  #afbfd0;   
}
.navbar-default .navbar-nav > .active > a,
.nav > li:active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #29370a;
  background-color:  #afbfd0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #29370a;
  background-color:  red;
}
.navbar-default .navbar-toggle {
  //border-color: #ddddaa;
  border-color: #f8f8f8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: red;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:  red;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  //border-color: #29370a;
  border-color: #f8f8f8;
}
.navbar-default .navbar-link {
  color: #29370a;
}
.navbar-default .navbar-link:hover {
  color: #29370a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #29370a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #29370a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #29370a;
    background-color: red;
  }
}

#chatbot{
    min-width: 330px;
    padding: 4px 4px 0;
    overflow:hidden;
    left:-50px;
    background-color:rgba(255,255,255,.8);
}