/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: PlainRowsCentered;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-left: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #49572a;
	color: #ffffff;
	name: Header1;
	id: 3;
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	background-color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	size: 1.5em;
	vertical-align: middle;
}


/* Cell Styles: */
 
.TableStyle-PlainRowsCentered
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-PlainRowsCentered .Column-Column1
{
	
}

.TableStyle-PlainRowsCentered .Head-Header1
{
	
}

.TableStyle-PlainRowsCentered .HeadI-Column1-Header1
{
	padding-left: 3px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
}

.TableStyle-PlainRowsCentered .HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadE-Column1-Header1
{
	padding-left: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PlainRowsCentered .HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadF-Column1-Header1
{
	padding-left: 3px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PlainRowsCentered .HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadH-Column1-Header1
{
	padding-left: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
}

.TableStyle-PlainRowsCentered .HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadD-Column1-Header1
{
	padding-left: 3px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PlainRowsCentered .HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadC-Column1-Header1
{
	padding-left: 3px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
}

.TableStyle-PlainRowsCentered .HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadB-Column1-Header1
{
	padding-left: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
}

.TableStyle-PlainRowsCentered .HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadA-Column1-Header1
{
	padding-left: 3px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
}

.TableStyle-PlainRowsCentered .HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .HeadG-Column1-Header1
{
	padding-left: 3px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #49572a;
}

.TableStyle-PlainRowsCentered .HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .FootI-Column1-
{
	padding-left: 3px;
}

.TableStyle-PlainRowsCentered .FootI-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootE-Column1-
{
	padding-left: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PlainRowsCentered .FootE-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootF-Column1-
{
	padding-left: 3px;
}

.TableStyle-PlainRowsCentered .FootF-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootH-Column1-
{
	padding-left: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PlainRowsCentered .FootH-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootD-Column1-
{
	padding-left: 3px;
}

.TableStyle-PlainRowsCentered .FootD-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootC-Column1-
{
	padding-left: 3px;
}

.TableStyle-PlainRowsCentered .FootC-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootB-Column1-
{
	padding-left: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PlainRowsCentered .FootB-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootA-Column1-
{
	padding-left: 3px;
}

.TableStyle-PlainRowsCentered .FootA-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .FootG-Column1-
{
	padding-left: 3px;
}

.TableStyle-PlainRowsCentered .FootG-Column1- p
{
	
}

.TableStyle-PlainRowsCentered .Body-Body2
{
	height: 1.5em;
}

.TableStyle-PlainRowsCentered .BodyI-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-PlainRowsCentered .BodyI-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyE-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PlainRowsCentered .BodyE-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyF-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PlainRowsCentered .BodyF-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyH-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PlainRowsCentered .BodyH-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyD-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PlainRowsCentered .BodyD-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyC-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-PlainRowsCentered .BodyC-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyB-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PlainRowsCentered .BodyB-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyA-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-PlainRowsCentered .BodyA-Column1-Body2 p
{
	font-family: sans-serif;
}

.TableStyle-PlainRowsCentered .BodyG-Column1-Body2
{
	padding-left: 3px;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-PlainRowsCentered .BodyG-Column1-Body2 p
{
	font-family: sans-serif;
}


